{
    "presets": [
        "next/babel",
        ["@babel/preset-react", {"runtime": "automatic"}],
        "@babel/preset-typescript"
    ],
    "plugins": ["macros", ["styled-components", { "ssr": true }]]
}